<div class="">
    <div class="mt-4 card-book-item">
        <div class="d-flex flex-row">
            <div class="col-lg-6">
                <img src="{{book.image}}" alt="anh">
                <h2>{{book.name}}</h2>
                <h3>{{book.author}}</h3>
                <h4>{{book.price}}.000 đồng</h4>
                <button>Mua ngay</button>
            </div>
        
            <div class="col-lg-5">{{book.description}}</div>
        </div>
    </div>
</div>